    @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    body{
        font-family: 'Montserrat' ;
        background-color: #8C6CB2;
        color: #412234;
    }
    *{
        font-family: 'Bree Serif' ;
    }
    .Homepage{
        position: absolute;
    }
    .classlink{
        padding-left: 46%;
    }
    .titlepos{
        padding-left:  42%;
    }
    nav{
        background-color: #EAD7D7;
        border-bottom: black,dashed, 2px;
    }
    main{
        background-color: #EAD7D7;
        border: black,bold;
    }
    .des{
        position: relative;
    }
   section{
        background-color: #EAD7D7;
        border: #412234;
    }
    .aboutus{
        padding-left: 45%;
    }
    .about2p{
        padding-top: 10px;
        margin-bottom: 10%;
    }
    .classpp{
        padding-left: 47%;
        font-weight: bold;  
    }
    .classpic{
        padding-left:  20%;
    }
    .groupp{
        padding-left: 46%;
    }
    .inclass{
        padding-left: 46%;
    }
    ul{
        background-color: #CFBBD2;
    }
    image{
        float: top;
    }